#game-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: monospace;
}

#game-text {
    font-size: 20px;
}

#reset-button {
    background-color: lightskyblue;

    &:hover {
        background-color: rgb(77, 126, 156);
    }
}