#home-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: monospace;
}

#new-game-button {
    background-color: rgb(126, 216, 117);

    &:hover {
        background-color: rgb(65, 116, 60);
    }
}