#square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    padding: 10px;
    border: solid 2px black;
    outline: solid 1px black;
    font-size: 45px;
    font-family: monospace;
    background-color: #60c473;
    color: white;
    cursor: pointer;

    &:hover {
        transition: 0.2s;
        background-color: #356e3f;
    }
}